Ongawa/Web References/WebReference/encuesta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertuser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertuserResponse">
        <s:complexType />
      </s:element>
      <s:element name="comprobaruser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobaruserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comprobaruserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertreg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encuesta_r" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertregResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertuserSoapIn">
    <wsdl:part name="parameters" element="tns:insertuser" />
  </wsdl:message>
  <wsdl:message name="insertuserSoapOut">
    <wsdl:part name="parameters" element="tns:insertuserResponse" />
  </wsdl:message>
  <wsdl:message name="comprobaruserSoapIn">
    <wsdl:part name="parameters" element="tns:comprobaruser" />
  </wsdl:message>
  <wsdl:message name="comprobaruserSoapOut">
    <wsdl:part name="parameters" element="tns:comprobaruserResponse" />
  </wsdl:message>
  <wsdl:message name="insertregSoapIn">
    <wsdl:part name="parameters" element="tns:insertreg" />
  </wsdl:message>
  <wsdl:message name="insertregSoapOut">
    <wsdl:part name="parameters" element="tns:insertregResponse" />
  </wsdl:message>
  <wsdl:portType name="encuestaSoap">
    <wsdl:operation name="insertuser">
      <wsdl:input message="tns:insertuserSoapIn" />
      <wsdl:output message="tns:insertuserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="comprobaruser">
      <wsdl:input message="tns:comprobaruserSoapIn" />
      <wsdl:output message="tns:comprobaruserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertreg">
      <wsdl:input message="tns:insertregSoapIn" />
      <wsdl:output message="tns:insertregSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="encuestaSoap" type="tns:encuestaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertuser">
      <soap:operation soapAction="http://tempuri.org/insertuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobaruser">
      <soap:operation soapAction="http://tempuri.org/comprobaruser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertreg">
      <soap:operation soapAction="http://tempuri.org/insertreg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="encuestaSoap12" type="tns:encuestaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertuser">
      <soap12:operation soapAction="http://tempuri.org/insertuser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobaruser">
      <soap12:operation soapAction="http://tempuri.org/comprobaruser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertreg">
      <soap12:operation soapAction="http://tempuri.org/insertreg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="encuesta">
    <wsdl:port name="encuestaSoap" binding="tns:encuestaSoap">
      <soap:address location="http://40.85.130.141/encuesta.asmx" />
    </wsdl:port>
    <wsdl:port name="encuestaSoap12" binding="tns:encuestaSoap12">
      <soap12:address location="http://40.85.130.141/encuesta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>